body {
	margin: auto;
	font-size: 20px;
	line-height: 1.5;
	color: whitesmoke; 
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	background-color: #202020;
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*container*/
.container__two {
	width: 100%;
	padding-right: var(--bs-gutter-x,.100rem);
    padding-left: var(--bs-gutter-x,.100rem);
    margin-right: auto;
    margin-left: auto;
	max-width: 1200px;
}
container__three {
	width: 100%;
	max-width: 1200px;
}

/*begin*/
.begin {
	display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url('../img/begin.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


/*header*/
.header{
	width: 100%;
	padding:1% 5%;
	background-color: #202020;
}
.hader__inner {
	display: flex;
	justify-content: space-around;
}
/*logotip in heder*/
.header__logo {
	font-size: 130%;
	font-family: 'Oswald', sans-serif;
	color: aliceblue;
	margin: 0px 15px;
	position: relative;
	justify-content: left;
}
.header__icon {
	color:black;
	position: relative;
	font-size: 123%;
	text-decoration: none;
}
.header__icon:hover {
	color: aliceblue;
	text-decoration: none;
}
.header__logotip {
	display:inline-block;
	vertical-align: top;
	margin:0px 15px;
	position: relative;
	color: #FFF;
	text-decoration: none;
	transition: color.1s linear;
	font-size: 123%;
}
.header__logotip:hover {
	color: aliceblue;
	text-decoration: none;
}
/*buttons*/
.navigation{
	font-size: 90%;
	text-transform: uppercase;
	position: relative;
	justify-content: center;
}
.naw__link {
	display: inline-block;
	vertical-align: top;
	margin: 10px 20px;
	color: aliceblue;
	font-size: 123%;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
.naw__link:after {
	content: '';
	display: block;
	margin: 5px 0px;
	width: 100%;
	height: 3px;
	background-color: #720629;
	opacity: 0;
	position: relative;
	top: 120%;
	left: 0;
	z-index: 1;
	transition: opacity .1s linear;
}
.naw__link:hover {
	color: #720629;
	text-decoration: none;
}
.naw__link:hover:after {
	opacity: 1;
}


.secta {
	padding: 0% 10px 0px 10px;
	background-color: #202020;
}
.secta__two {
	padding: 4% 10px 0px 10px;
	background-color: #202020;
}
/*колдуем над изображением*/
.image {
	display: block;
	background: linear-gradient(to bottom,#720629, #282C36);
}
.row__img {
	transition: opacity .2s linear;
}
.image:hover .row__name {
	opacity: 1;
}
.image:hover .row__img {
	opacity: .3;
}
.image:hover  .row__color {
	opacity: .3;
}
.row__name {
	width: 100%;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: black;
	position: absolute;
	opacity: 0;
	transition: opacity .3s linear;
	right: 0;
	z-index: 2;
}
.row__color {
	width: 100%;
	background-color: aliceblue;
	opacity: 0;
	position: absolute;
	transition: opacity .3s linear;
	top: 26%;
	right: 0;
	z-index: 2;
}
/*txt*/
.row__text {
	color: #F8F8F8;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}
/*txt__one*/
.row__title{
	position: relative;
	color: #F8F8F8;
	font-size: 23px;
	font-family: 'Oswald', sans-serif;
}
.row__title:hover {
	color: #720629;
	text-decoration: none;
}
.row__button {
	background-color: #202020;
	color:aliceblue;
	font-family: 'Oswald', sans-serif;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	border: none;
}
.row__button:focus {
	opacity: 0;
}


/*menu*/
.secta__menu {
	padding: 1% 0px 0px 0px;
	background-color: #202020;
}
.menu {
	width: 100%;
	position: 2% 5%;
}

.menu__item {
	display: flex;
	justify-content: space-around;
}
/*иконки*/
.menu__icons {
	width: 30%;
	position:  relative;
	margin: 3% 15px;
	
	font-size: 140%;
}
.menu__href {
	margin: 0px 2%;
	color: aliceblue;
}
.menu__href:hover {
	/*color: linear-gradient(to bottom,#720629, #282C36);*/
	color: #720629;
}
/*information*/
.menu__info {
	width: 70%;
	position: relative;
	margin: 3% 1%;
	justify-content: right;
	font-size: 130%;
	font-family: 'Oswald', sans-serif;
}
.menu__information {
	color:aliceblue;
	font-family: 'Oswald', sans-serif;
}
